{% extends "layouts/base.html" %}
{% load static %}

{% block title %} HTML5 Links {% endblock title %}

{% block content %}
    

    <div id="link1">
        <a href="https://www.qu.edu.sa" target="_blank">Go to QU website (open a new tab)</a>
    </div>

    <div id="link2">
        <a href="https://www.qu.edu.sa">Go to QU website (open in the same page/tab)</a>
    </div>

    <div id="link3">
        <a href="https://www.qu.edu.sa">Go to QU website (open in the same page/tab)</a>
    </div>
{% endblock content %}
