<!DOCTYPE html>
<html>
{% load static %}
<head>
  {% if user.is_authenticated %}
  <a href="{% url 'login' %}">Logout</a>
{% endif %}
  {% block stylesheets %}{% endblock stylesheets %}

  <title>{% block title %} {% endblock title %}</title>
  <meta name="keywords" content="Books, recent, Learning, library">
  <meta name="description" content="Books website">
  <meta name="author" content="author name">
  <link rel="icon" href="{% static 'qu-icon.png' %}">
  <meta charset="UTF-8">
 
  <link rel="stylesheet" href="{% static 'styles.css' %}"> <!-- include css file -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

</head>
<body>
    
    {% include "includes/header.html" %}
 
    {% block content %} {% endblock content %}
 
    {% include "includes/footer.html" %}

</body>
</html>
